default: &default
  adapter: mysql2
  encoding: utf8

development:
  <<: *default
  database: rails-development
  username:
  password:

test:
  <<: *default
  database: rails-test
  username:
  password:
