.map-box {
		width: 100%;
}

.addr-map {
		border: #ddd solid 1px;
		margin: auto;
		display: block;
		width: 79%;
		height: 400px;
}

.map-menu {
		display: block;
		margin-top: 10px;
		text-align: center;
}